.logo {
  margin: 16px;
  padding: 16px 8px;
  background: rgba(255, 255, 255, 0.1);
}

.logo .ant-typography {
    color: #fff;
  }

.ant-layout-sider {
  height: 85vh;
}

.site-layout-sub-header-background {
  background: #fff;
  border-bottom: 2px solid #f0f2f5;
}

.site-layout-background {
  background: #fff;
}