.logo {
  margin: 16px;
  padding: 16px 8px;
  background: rgba(255, 255, 255, 0.1);
}

.logo .ant-typography {
    color: #fff;
  }


.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}